* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100%;
  height: 100%;
  background-color: hsl(235, 21%, 11%);
  background-image: url("/public/images/bg-desktop-dark.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
}

.container {
  /* background-color: yellow; */
  width: 100%;
  max-width: 650px;
  margin-top: 50px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  letter-spacing: 10px;
  font-size: 25px;
}

.task-input {
  background-color: hsl(235, 24%, 19%);
  width: 100%;
  height: 70px;
  border-radius: 6px;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.check {
  flex-basis: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.check-mark img {
  visibility: hidden;
}

.check-mark.checked img, .check-mark:hover img {
  visibility: visible;
}

.check-mark {
  /* background-color: antiquewhite; */
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid rgb(68, 69, 90) ;
  display: flex;
  justify-content: center;
  align-items: center;
}

.check-mark.checked {
  background: linear-gradient(135deg, #55DDFF 0%, #C058F3 100%);
}


.check-mark:hover {
  background: linear-gradient(135deg, #55DDFF 0%, #C058F3 100%);
}

/* 1. Add active states */

.new-todo-input {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

#todo-input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  color: hsl(234, 39%, 85%);
  font-size: 18px;
  padding: 10px 0px;
}

.new-todo-input form {
  flex-grow: 1;
  display: flex;
}

.task-list-wrapper {
  margin-top: 30px;
  /* TEMP */
  border-radius: 6px;
  background-color: hsl(235, 24%, 19%);
  /* background-color: antiquewhite; */
  box-shadow: 0px 2px 30px 0px rgba(0,0,0,0.4);
  overflow: hidden;

}

.task-list {
  width: 100%;
}

.task-item {
  width: 100%;
  /* background-color: aquamarine; */
  height: 70px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid hsl(237, 14%, 26%);
  transition: all .25s ease;
  transition-property: box-shadow, transform, border-color ;
}

.task-item:hover {
  transform: translateY(-2px);
  box-shadow: 0px 0px 7px 0px hsl(235, 21%, 11%);
}

.task-text {
  color: hsl(234, 39%, 85%);
}

.task-text.checked {
  text-decoration: line-through;
  color: hsl(233, 14%, 35%);
}

.task-items-info {
  background-color: hsl(235, 24%, 19%);
  width: 100%;
  height: 70px;
  border-top: 1px solid hsl(237, 14%, 26%);
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px 0px 30px;
  color: hsl(235, 14%, 35%);
}


.items-statuses span {
 padding: 0 4px;
}

.items-statuses span:hover, .items-clear:hover {
  color: hsl(220, 98%, 61%);
  cursor: pointer;
}

.items-statuses .active {
  color: hsl(220, 98%, 61%);
}